<div class="flex items-center justify-center mt-28">
    <div class="w-96 border rounded bg-white px-7 py-10">
      <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit()">
        <h4 class="text-2xl mb-7">Login</h4>
  
        <!-- Email Input -->
        <label for="email" class="input-label">Email</label>
        <input
          id="email"
          type="email"
          name="email"
          placeholder="Email"
          class="input-box"
          [(ngModel)]="email"
          #emailCtrl="ngModel"
          required
        />
        <div *ngIf="emailCtrl.invalid && emailCtrl.touched" class="text-red-500 text-xs">
          Email is required and must be valid.
        </div>
  
        <!-- Password Input -->
        <label for="password" class="input-label">Password</label>
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Password"
          class="input-box"
          [(ngModel)]="password"
          #passwordCtrl="ngModel"
          required
        />
        <div *ngIf="passwordCtrl.invalid && passwordCtrl.touched" class="text-red-500 text-xs">
          Password is required.
        </div>
  
        <!-- Submit Button -->
        <button type="submit" class="btn-primary w-full mt-4" [disabled]="loginForm.invalid">
          Login
        </button>
  
        <!-- Sign Up Link -->
        <p class="text-sm text-center mt-4">
          Not registered yet?
          <a routerLink="/signup" class="font-medium text-primary underline">
            Create an account
          </a>
        </p>
      </form>
    </div>
  </div>
  