<div class="analytics-container" ng-if="flag">
  <div class="post-analytics">
    <h2>Post Analytics</h2>
    <div class="post-image">
      <img
        class="post-img"
        ng-src="{{$ctrl.data.media_url}}"
        alt="Post Image"
      />
    </div>
    <h3>{{$ctrl.data.caption}}</h3>
    <div class="analytics-details">
      <p><strong>Likes:</strong> {{likes}}</p>
      <p><strong>Comments:</strong> {{$ctrl.analytics.comments.length}}</p>
    </div>
  </div>

  <div class="comments-section">
    <h3>Comments</h3>
    <div class="comment" ng-repeat="comment in $ctrl.analytics.comments">
      <div class="comment-content">
        <p><strong>{{comment.author}}:</strong> {{comment.text}}</p>
      </div>
      <div class="reply-section">
        <input
          type="text"
          ng-model="comment.replyText"
          placeholder="Write a reply..."
        />
        <button ng-click="$ctrl.replyToComment(comment)">Reply</button>
      </div>
      <div class="replies" ng-if="comment.replies.length > 0">
        <h4>Replies</h4>
        <ul>
          <li ng-repeat="reply in comment.replies">
            <p><strong>{{reply.author}}:</strong> {{reply.text}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
