<div class="main-content">
  <div class="box">
    <ul class="sel">
      <li class="sel-item">
        <button
          ng-class="{selected: activeButton === 'Scheduled'}"
          ng-click="$ctrl.setActiveButton('Scheduled')"
        >
          Scheduled
        </button>
      </li>
      <li class="sel-item">
        <button
          ng-class="{selected: activeButton === 'Published'}"
          ng-click="$ctrl.setActiveButton('Published')"
        >
          Published
        </button>
      </li>
      <li class="sel-item">
        <button
          ng-class="{selected: activeButton === 'Drafted'}"
          ng-click="$ctrl.setActiveButton('Drafted')"
        >
          Drafted
        </button>
      </li>
      <li class="sel-item">
        <div
          class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"
          style="
            width: -webkit-fill-available;
            height: -webkit-fill-available;
            padding: 10px 0;
          "
        >
          <label
            style="top: 10px"
            class="mdl-button mdl-js-button mdl-button--icon"
            for="sample6"
          >
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input
              class="mdl-textfield__input"
              type="text"
              id="sample6"
              placeholder="content"
              ng-model="search"
              ng-keypress="triggerSearch($event)"
            />
          </div>
          <button
            ng-if="showcross"
            class="mdl-button mdl-js-button mdl-button--icon no-back"
            ng-click="redoTable()"
            style="left: 188px; top: 8px"
          >
            <i class="material-icons">close</i>
          </button>
        </div>
      </li>
      <li class="sel-item" style="place-items: center">
        <button
          ng-click="show()"
          class="mdl-button mdl-js-button mdl-button--icon"
        >
          <i class="material-icons">filter_alt</i>
        </button>
        <div class="hide filter-dropbox" id="filter">
          <ul for="demo-menu-lower-right">
            <li
              class="filter-li"
              style="display: flex; justify-content: space-between"
            >
              <label for="postType">Post Type:</label>
              <select
                id="postType"
                class="filter-input"
                ng-model="filter.selectedType"
                onclick="event.stopPropagation()"
              >
                <option value="all">All</option>
                <option value="text">Text</option>
                <option value="image">Image</option>
                <option value="video">Video</option>
                <option value="link">Link</option>
              </select>
            </li>
            <li
              class="filter-li"
              ng-if="activeButton != 'Scheduled' && activeButton != 'Drafted'"
            >
              <label for="startDate">Date Range:</label>
              <input
                type="date"
                id="startDate"
                class="filter-input"
                ng-model="filter.startDate"
                onclick="event.stopPropagation()"
              />
              <input
                type="date"
                id="endDate"
                class="filter-input"
                ng-model="filter.endDate
                "
                onclick="event.stopPropagation()"
              />
            </li>
            <li
              class="filter-li"
              style="display: flex; justify-content: space-between"
            >
              <label for="timeSort">Sort by Time:</label>
              <select
                id="timeSort"
                class="filter-input"
                ng-model="filter.selectedOption"
                onclick="event.stopPropagation()"
              >
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
              </select>
            </li>
            <li
              class="filter-li"
              style="height: 60px"
              ng-if="activeButton != 'Scheduled' && activeButton != 'Drafted'"
            >
              <div>
                <p style="margin: -6px; margin-left: 1px">
                  Likes range :-
                  <span id="slider-1-value">{{filter.min}}</span> -
                  <span id="slider-1-value">{{filter.max}}</span>
                </p>
              </div>
              <div>
                <div class="slider-track"></div>
                <input
                  type="range"
                  min="0"
                  max="100"
                  ng-model="filter.min"
                  id="slider-1"
                  onclick="event.stopPropagation()"
                />
                <input
                  type="range"
                  min="0"
                  max="100"
                  ng-model="filter.max"
                  id="slider-2"
                  onclick="event.stopPropagation()"
                />
              </div>
            </li>
            <li class="filter-li" id="filter-li2">
              <div style="display: flex; justify-content: space-between">
                <button
                  style="
                    height: 25px;
                    position: unset;
                    font: caption;
                    padding: 0 10px;
                    border: 1px solid;
                  "
                  ng-click="$ctrl.applyFilter()"
                >
                  Apply
                </button>
                <button
                  style="
                    height: 25px;
                    position: unset;
                    font: caption;
                    padding: 0 10px;
                    border: 1px solid;
                  "
                  ng-click="clearFilter()"
                >
                  Clear
                </button>
              </div>
            </li>
          </ul>
        </div>
        <!-- <button
          id="demo-menu-lower-right"
          ng-if="$ctrl.data != 'Drafted'"
          class="mdl-button mdl-js-button mdl-button--icon"
        >
          <i class="material-icons">tune</i>
        </button>
        <div style="position: relative; right: -125px; top: -30px">
          <ul
            class="mdl-menu mdl-menu--bottom-right mdl-js-menu"
            for="demo-menu-lower-right"
          >
            <li
              class="mdl-menu__item"
              style="display: flex; justify-content: space-between"
            >
              <label for="postType">Post Type:</label>
              <select
                id="postType"
                class="filter-input"
                ng-model="filter.selectedType"
                onclick="event.stopPropagation()"
              >
                <option value="all">All</option>
                <option value="text">Text</option>
                <option value="image">Image</option>
                <option value="video">Video</option>
                <option value="link">Link</option>
              </select>
            </li>
            <li
              class="mdl-menu__item"
              ng-if="$ctrl.activeButton != 'Scheduled' && $ctrl.activeButton != 'Drafted'"
            >
              <label for="startDate">Date Range:</label>
              <input
                type="date"
                id="startDate"
                class="filter-input"
                ng-model="startDate"
                onclick="event.stopPropagation()"
              />
              <input
                type="date"
                id="endDate"
                class="filter-input"
                ng-model="filter.endDate
                "
                onclick="event.stopPropagation()"
              />
            </li>
            <li
              class="mdl-menu__item"
              style="display: flex; justify-content: space-between"
            >
              <label for="timeSort">Sort by Time:</label>
              <select
                id="timeSort"
                class="filter-input"
                ng-model="filter.selectedOption"
                onclick="event.stopPropagation()"
              >
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
              </select>
            </li>
            <li
              class="mdl-menu__item"
              style="height: 60px"
              ng-if="$ctrl.activeButton != 'Scheduled' && $ctrl.activeButton != 'Drafted'"
            >
              <div>
                <p style="margin: -6px; margin-left: 1px">
                  Likes range :-
                  <span id="slider-1-value">{{min}}</span> -
                  <span id="slider-1-value">{{max}}</span>
                </p>
              </div>
              <div>
                <div class="slider-track"></div>
                <input
                  type="range"
                  min="0"
                  max="100"
                  ng-model="min"
                  id="slider-1"
                  onclick="event.stopPropagation()"
                />
                <input
                  type="range"
                  min="0"
                  max="100"
                  ng-model="max"
                  id="slider-2"
                  onclick="event.stopPropagation()"
                />
              </div>
            </li>
            <li class="mdl-menu__item">
              <button
                style="font: caption; padding: 10px; border: groove"
                ng-click="$ctrl.applyFilter()"
              >
                Apply
              </button>
            </li>
          </ul>
        </div> -->
      </li>
    </ul>
  </div>
</div>
