<div class="dashboard-container">
  <sidebar on-connect="connectHendal(action)"></sidebar>
  <div style="width: -webkit-fill-available">
    <subnavbar
      data="selectedTable"
      on-action="changeTabledata(type)"
      on-apply-filter="onApplyFilter()"
      filter="filter"
      on-search="filterData(query)"
      on-rest="restTable()"
    >
      ></subnavbar
    >
    <table2
      ng-if="flag"
      data="selectedTable"
      count="tableLength"
      items="items"
    ></table2>
  </div>
  <dialog class="mdl-dialog dialog-analyze">
    <comment ng-if="selectedItem" data="selectedItem"></comment>
    <div class="mdl-dialog__actions">
      <button
        type="button"
        class="mdl-button close-btn"
        ng-click="closeDialog()"
      >
        Close
      </button>
    </div>
  </dialog>
</div>
<a href=""></a>
