<div class="dashboard-container">
  <sidebar on-connect="connectHendal(action)"></sidebar>
  <div style="width: -webkit-fill-available">
    <subnavbar
      data="selectedTable"
      on-action="changeTabledata(type)"
      on-apply-filter="onApplyFilter()"
      filter="filter"
      on-search="filterData(query)"
      on-rest="restTable()"
      on-clear-filter="clearFilter()"
    >
      ></subnavbar
    >
    <table2
      ng-if="flag"
      selectedtab="selectedTable"
      data="selectedTable"
      count="tableLength"
      items="items"
    ></table2>
  </div>
  <div class="dialog" ng-class="{ show: isDialogOpen2 }">
    <span class="dialog-close" ng-click="closeDialog()"
      ><i class="material-icons">close</i></span
    >
    <comment
      ng-if="selectedItem"
      countImage="countImage"
      data="selectedItem"
    ></comment>
  </div>
</div>
