.login-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  min-height: 100vh;
  /* Full viewport height */
  margin: 0;
  background-color: #FFFFFF;

}

.login-img {
  margin-left: 42%;
  margin-top: 5%;
  width: 20%;
  height: 20%;
  /* border: solid  black; */
}

.login-card {
  /* padding: 10px !important; */
  /* padding: 80px; */
  /* margin-right: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Align items vertically in the row */
  justify-content: space-between;
  /* Add space between the form and SVG */
  gap: 70px;
  background-color: #FFFFFF;
  /* border-radius: 30px; */
}

#logid {
  /* border-radius: 30px; */
  /* margin-left: 300px; */
  /* margin-bottom: 100px; */
  /* margin-top: 50px; */
  /* padding: 30px; */
  /* width: 500px; */
  height: 400px;
  /* width: 100%; */
}

#email-input,
#username-input,
#password-input {
  padding: 10px 20px !important;
  border: black solid 1.5px !important;
  border-radius: 10px;
  margin-top: 5px !important;
  box-sizing: border-box
}

#email-input:focus,
#username-input:focus,
#password-input:focus {
  border: #ABB7FF solid 2.5px !important;
}

body {
  background-color: #F5F4F2;
}

#btn {
  margin: 0;
  width: 82% !important;
  height: 50px;
  text-transform: none;
  border-radius: 10px;
  cursor: pointer;

}

#btn:hover {
  background-color: darkblue;
}

#title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  color: black;
  font-size: xx-large;
}

#fotlink {
  padding: 5px;
  color: black;
}

#fotlink:hover {
  color: #ABB7FF;
  text-decoration-line: underline;
  /* text-decoration:dashed ; */
}

#svg-image {
  width: 750px;
  height: 400px;
  overflow: visible;
  margin-left: 140px;
  padding-top: 33px;
  object-fit: cover;


  padding-left: 185px;
}



.svg-div {
  /* padding: 50px; */
  /* background-color: #DBC5FE;
   */
  background: linear-gradient(to right, #B977FF, #5268FC, #687EF6);


  /* padding-left: 295px; */
  /* position: relative; */
  /* height: fit-content; */
}



.svg-text {

  background: linear-gradient(to right, #B977FF, #5268FC, #687EF6);
  padding-top: 60px;
  padding-bottom: 10px;
  border: none !important;
}

.top-class {
  margin-left: 0px;
  width: 70%;
  /* padding: 17px; */
  /* background: linear-gradient(to right, #9 78EFF, #687EF6, #B977FF); */
  background: linear-gradient(to right, #B977FF, #5268FC, #687EF6);


}

#top-container {
  display: flex;
  width: 30%;
  justify-content: center;
}