<div class="signup-container">
  <!-- <img class="login-img" src="app/assets/images/almashines_small.png" alt=" NA "> -->


  <div class="sig-top-container">

    <div id="sigid" class="signup-form mdl-card mdl-shadow--2dp" style="justify-content: center; margin-left: auto;
    margin-right: auto; ">
      <h2 id = "title"class="mdl-card__title mdl-card__title-text" style="justify-content: center; margin-left: auto;
    margin-right: auto;">Sign Up</h2>
      <form name="registerForm" ng-submit="register()" novalidate class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label for="" style="color: black; padding: 5px; padding-bottom: 1%;">Username</label>
          <input
            type="text"
            id="username"
            class="mdl-textfield__input"
            ng-model="registerData.username"
            required
          />
        </div>
  
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label for="" style="color: black; padding: 5px; padding-bottom: 1%;">Email Address</label>
          <input
            type="email"
            id="email"
            class="mdl-textfield__input"
            ng-model="registerData.email"
            required
          />
        </div>
  
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label for="" style="color: black; padding: 5px; padding-bottom: 1%;">Password</label>
          <input
            type="password"
            id="password"
            class="mdl-textfield__input"
            ng-model="registerData.password"
            required
          />
        </div>
  
          <button id= "btn"type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Sign Up
          </button>
      </form>
  
      <div >
        <a id="fotlink" href="#/login" >Already have an account? Login</a>
      </div>
    </div>

  </div>
 


  <div class="bottom-container">

    <div class="non-imgclass">

      <!-- <div class="text-class">
        
      </div> -->
  
      <div class="profile-class">
        <p style="color: #FFFFFF; font-family: 'Roboto', sans-serif; font-weight: bolder; font-size:24px; margin-left: 100px; margin-right: 100px; letter-spacing: -0.75px ; line-height: 32px;">
          “With Buffer I can build social content out as far as I want into the future but also tailor campaigns if we see certain trends within the industry.”
        </p>
        <img src="https://static.buffer.com/login/public/img/signup-avatar-publish.png" alt="NA" style="height: 100px; width: 100px; margin-left: 200px;">
        <p style="color: #FFFFFF; font-family: 'Roboto', sans-serif; font-weight: bolder; font-size:medium; margin-left: 200px; margin-top: 2px; margin-bottom: 0px;">Justin Ozanich</p><br>
        <p style="color: #FFFFFF; font-family: 'Roboto', sans-serif; font-weight: bolder; font-size:small; margin-left: 190px; margin-top: 0px; margin-bottom: 0px;">Marketing Manager</p><br>
        <p style="color: #FFFFFF; font-family: 'Roboto', sans-serif; font-weight: bolder; font-size:small; margin-left: 180px; margin-top: 0px; margin-bottom: 0px;">Foster Coffee Company</p>
      </div>

    </div>

    <div class="img-class">
      <img id="img-id" src="app/assets/images/signup-img.png" alt="">
    </div>

  </div>
  
</div>
